<?xml version="1.0"?>
<connectionStrings>

  <!--LOCAL-->
  <add name="DefaultConnection" connectionString="Server=localhost;Database=yolo-mvp;User Id=yolo;Password=yolo-pwd" providerName="Npgsql" />

  <!--DEV-->
  <!--<add name="DefaultConnection" connectionString="Server=yoyodbinstance.c5auyviawrg9.eu-west-1.rds.amazonaws.com;Database=yoyo_dev;User Id=yoyo;Password=U93s8Mbs" providerName="Npgsql" />-->

  <!--PROD-->
  <!--<add name="DefaultConnection" connectionString="Server=yoyodbinstance.c5auyviawrg9.eu-west-1.rds.amazonaws.com;Database=yoyo_prod;User Id=yoyo;Password=U93s8Mbs" providerName="Npgsql" />-->
  
</connectionStrings>
