#main-nav {
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  font-stretch: normal;
}

@media (max-width: 767px) {
  #main-nav .container-fluid {
    display: flex;
    justify-content: center;
  }
  #main-nav .container-fluid img.logo {
    margin: 20px;
    width: 100px;
    height: 100px;
  }
}

#main-nav .navbar-nav > li.nav-item > a.nav-link {
  padding: 0.5rem 2rem;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: center;
  color: #fbfbfb;
}

#main-nav p {
  margin: 0;
  font-size: 14px;
  text-align: left;
  color: #ff5f6d;
}

#main-nav img.logo {
  margin: 20px;
  width: 140px;
  height: 140px;
}

#main-nav .btn {
  font-size: 14px;
  color: white;
  width: 187px;
  height: 40px;
  border-radius: 19.5px;
  border-color: #ff5f6d;
  background-color: #ff5f6d;
  box-shadow: 0px 5px 12px 0 rgba(255, 95, 109, 0.3);
}

.navbar.scrolled {
  background: #eff1f6;
}

.navbar.scrolled a {
  color: #535e7b !important;
}

.navbar.scrolled img.logo {
  margin: 0 !important;
  width: 60px !important;
  height: 60px !important;
}

header.head {
  background-image: url("../img/lisboa.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  font-family: Lato;
}

header.head .container-fluid {
  margin-top: 12em;
}

@media (max-width: 767.98px) {
  header.head .dropdown-menus {
    padding: 0 !important;
  }
}

header.head .startend {
  margin-top: 3em;
}

header.head .startend .start img {
  width: 11px;
  height: 11px;
  object-fit: contain;
  position: absolute;
  right: 40px;
  z-index: 1;
}

header.head .startend .switch img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 1;
}

header.head .startend .path img {
  width: 4px;
  height: 103px;
  object-fit: contain;
  position: absolute;
  right: 44px;
}

header.head .startend .end img {
  width: 11px;
  height: 11px;
  object-fit: contain;
  position: absolute;
  right: 40px;
  top: 98px;
}

header.head .startend-mobile {
  width: 200px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  header.head .startend-mobile {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  header.head .startend-mobile {
    display: none;
  }
}

@media (min-width: 1440px) {
  header.head .startend-mobile {
    display: none;
  }
}

header.head .startend-mobile .start img {
  width: 11px;
  height: 11px;
  object-fit: contain;
  position: absolute;
  right: 150px;
  top: 46px;
  z-index: 1;
}

header.head .startend-mobile .switch img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  position: absolute;
  top: 27px;
  right: 80px;
  z-index: 1;
}

header.head .startend-mobile .path img {
  transform: rotate(90deg);
  width: 4px;
  height: 103px;
  object-fit: contain;
  position: absolute;
  top: 0;
  right: 105px;
}

header.head .startend-mobile .end img {
  width: 11px;
  height: 11px;
  object-fit: contain;
  position: absolute;
  right: 50px;
  top: 46px;
}

header.head .dropdown {
  margin-top: 0.5em;
}

header.head .dropdown > button.dropdown-toggle {
  padding: 0 10% 0 10%;
  opacity: 0.9;
  border-radius: 2px;
  background-color: #838da7;
  height: 3em;
  width: 100%;
}

header.head .dropdown > button.destination::after {
  margin-top: 10px;
  float: right;
  color: black;
}

header.head .dropdown > button.stops::after {
  margin-top: 10px;
  float: right;
  color: black;
}

header.head .dropdown > button.seats::after {
  margin-top: 10px;
  float: right;
  color: black;
}

header.head .dropdown .dropdown-menu {
  min-width: 8em;
  margin-top: 1.5em;
  width: 100%;
}

header.head .dropdown .dropdown-menu .dropdown-item {
  font-family: Lato;
  font-size: 1em;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.5px;
  text-align: left;
  color: #535e7b;
}

header.head .dropdown .dropdown-menu .dropdown-item:first-child {
  pointer-events: none;
  font-size: 1em;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #838da7;
}

header.head .dropdown .dropdown-menu:after {
  content: "";
  position: absolute;
  right: 10px;
  top: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #ffffff transparent;
  z-index: 9998;
}

header.head .dropdown .dropdown-menu .dropdown-divider {
  width: 90%;
  margin-left: 5%;
}

header.head .dropdown .dropdown-menu img {
  width: 1em;
}

@media (max-width: 767.98px) {
  header.head .n-seats .return {
    margin-top: 0 !important;
  }
}

header.head .form-check {
  margin-top: 2.5em;
}

header.head .form-check .form-check-input {
  margin-top: 0;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-color: #838da7;
}

header.head .form-check .form-check-input:focus {
  outline: 0;
}

header.head .form-check .form-check-input:before {
  background-color: #838da7;
}

header.head .form-check .form-check-input:after {
  background-color: #838da7;
}

header.head .form-check .form-check-label {
  margin-left: 12px;
  vertical-align: middle;
}

#book {
  background-color: #eff1f6;
  font-family: Lato;
  color: #838da7;
  white-space: nowrap;
}

@media (max-width: 767.98px) {
  #book {
    padding-top: 0 !important;
  }
}

@media (max-width: 767.98px) {
  #book .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767.98px) {
  #book .calendar-background {
    background-color: #ffffff;
    padding-top: 10px;
  }
}

#book button.btn-calendar {
  background-color: #eff1f6;
  border-color: #838da7;
  border-radius: 0.25em 0 0 0.25em !important;
}

#book button.btn-list {
  background-color: #eff1f6;
  border-color: #838da7;
  border-radius: 0 0.25em 0.25em 0 !important;
}

#book button.btn-today {
  width: 90px;
  background-color: #eff1f6;
  border-color: #838da7;
  border-radius: 4px;
  color: #838da7;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.4px;
}

@media (max-width: 767.98px) {
  #book button.btn-today {
    background-color: #ffffff;
  }
}

#book button.btn {
  height: 40px;
}

#book button.btn--selected {
  background-color: #838da7;
  border-color: #838da7;
}

#book .month {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  color: #535e7b;
}

#book .year {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.4px;
  text-align: center;
  color: #838da7;
}

#book .departure-date {
  border-radius: 4px;
  background-image: linear-gradient(#ff5f6d, #ff5f6d), linear-gradient(to bottom, #ff5f6d, #ffc371);
  box-shadow: 0 0 14px 0 rgba(131, 141, 167, 0.15);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

#book .departure-date .btn-time {
  border-radius: 4px;
  background-color: #ffffff;
  color: #ff5f6d;
  font-size: 14px;
}

@media (max-width: 767.98px) {
  #book .departure-date {
    display: none;
  }
}

#book .return-date {
  border-radius: 4px;
  background-color: #838da7;
  border: solid 1px #838da7;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

#book .return-date .btn-time {
  border-radius: 4px;
  background-color: #ffffff;
  color: #ff5f6d;
  font-size: 14px;
}

@media (max-width: 767.98px) {
  #book .return-date {
    display: none;
  }
}

#book .calendar-container {
  font-family: Lato;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.4px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 14px 0 rgba(131, 141, 167, 0.15);
}

@media (max-width: 767.98px) {
  #book .calendar-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: none;
  }
}

#book .calendar-container p {
  margin-bottom: 0;
}

#book .calendar-container header h5 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 2;
  text-align: left;
  color: #838da7;
}

@media (max-width: 767.98px) {
  #book .calendar-container header h5 {
    font-size: 0.8rem;
  }
}

@media (min-width: 576px) {
  #book .calendar-container .day {
    height: 8.2857vw;
  }
  #book .calendar-container .date {
    width: 36px;
    height: 36px;
  }
  #book .calendar-container .date--today {
    color: white;
    background: #838da7;
    border-radius: 50%;
    padding: 8px;
    border: 2px solid #838da7;
    text-align: center;
  }
}

#book .calendar-container p.info {
  font-size: 1rem;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff5f6d;
  position: absolute;
  bottom: 35%;
  left: 15%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #book .calendar-container p.info {
    font-size: 0.6rem;
  }
}

#book .calendar-container a {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff5f6d;
  position: absolute;
  bottom: 0;
  left: 15%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #book .calendar-container a {
    font-size: 1rem;
  }
}

#book .calendar-container .day:hover {
  transform: scale(1.1);
  z-index: 10;
  box-shadow: 12.3px 8.6px 30px 0 rgba(199, 39, 53, 0.3);
  border-radius: 4px;
  background-image: linear-gradient(#ff5f6d, #ff5f6d), linear-gradient(to bottom, #ff5f6d, #ffc371);
  color: #ffffff;
  cursor: pointer;
}

#book .calendar-container .day:hover a {
  color: #ffffff;
}

#book .calendar-container .day:hover p.info {
  color: #ffffff;
}

#book .calendar-container .day--selected {
  box-shadow: 12.3px 8.6px 30px 0 rgba(199, 39, 53, 0.3);
  border-radius: 4px;
  background-image: linear-gradient(#ff5f6d, #ff5f6d), linear-gradient(to bottom, #ff5f6d, #ffc371);
  color: #ffffff;
}

#book .calendar-container .day--selected a {
  color: #ffffff;
}

#book .calendar-container .day--selected p.info {
  color: #ffffff;
}

#book .calendar-container .day--fully-available {
  background-color: rgba(46, 204, 113, 0.1);
}

#book .calendar-container .day--fully-available a {
  color: #2ecc71;
}

#book .calendar-container .day--available {
  background-color: rgba(243, 156, 18, 0.1);
}

#book .calendar-container .day--available a {
  color: #f39c12;
}

#book .calendar-container .day--limited-availability {
  background-color: rgba(255, 95, 109, 0.1);
}

#book .calendar-container .day--limited-availability a {
  color: #ff5f6d;
}

#book .calendar-container .day--unavailable {
  background-color: rgba(131, 141, 167, 0.1);
}

#book .calendar-container .day--unavailable p.info, #book .calendar-container .day--unavailable a {
  color: #838da7;
}

#book .calendar-container .day--weekend {
  background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 5px, rgba(131, 141, 167, 0.1) 0, rgba(131, 141, 167, 0.1) 10px);
}

@media (max-width: 767.98px) {
  #book .calendar-container .day {
    border-radius: 50%;
    margin: 2%;
    font-size: 12px;
  }
  #book .calendar-container .day--weekend {
    background: #ffffff;
  }
  #book .calendar-container .day--fully-available {
    color: #ffffff;
    background-color: #2ecc71;
  }
  #book .calendar-container .day--available {
    color: #ffffff;
    background-color: #f39c12;
  }
  #book .calendar-container .day--limited-availability {
    color: #ffffff;
    background-color: #ff5f6d;
  }
  #book .calendar-container .day--unavailable {
    background-color: rgba(131, 141, 167, 0.1);
  }
}

#book .next-trip {
  font-family: Lato;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
  border-radius: 4px;
}

#book .next-trip .date {
  padding: 16px 16px 0 16px;
}

#book .next-trip .time {
  padding: 0 16px 0 16px;
}

#book .next-trip .time:last-child {
  padding-bottom: 16px;
}

#book .next-trip .time .price--fully-available {
  color: #2ecc71;
}

#book .next-trip .time .price--available {
  color: #f39c12;
}

#book .next-trip .time .price--limited-availability {
  color: #ff5f6d;
}

#book .next-trip .time .price--unavailable {
  color: #838da7;
}

#book .next-trip .divider {
  width: 90%;
  height: 1px;
  background-color: #d5dbe9;
}

#book .next-trip .btn-cart {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff5f6d;
  border-color: #ff5f6d;
  box-shadow: 0px 5px 12px 0 rgba(255, 95, 109, 0.3);
}

@media (max-width: 767.98px) {
  .border {
    border: none !important;
  }
}

.homepage {
  font-family: Lato;
}

.homepage__navbar {
  background: white;
}

.homepage__navbar a {
  color: #535e7b !important;
}

.homepage a:hover {
  color: inherit;
  text-decoration: none;
}

.homepage__container {
  padding-left: 60px;
  padding-right: 40px;
}

.homepage__container--first {
  margin-top: 220px;
}

.homepage__container--second {
  background: #eff1f6;
}

.homepage__container--third {
  padding-top: 30px;
  background-image: linear-gradient(to bottom, #ff5f6d, #ffc371);
}

.homepage__container--forth {
  padding-top: 30px;
}

.homepage__main-title {
  font-size: 42px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 2.1px;
  color: #ff5f6d;
  text-transform: uppercase;
  width: 868px;
}

.homepage__sub-title {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #535e7b;
  width: 836px;
}

.homepage__where-to-go {
  font-size: 20px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 1.2px;
  text-align: left;
  color: #535e7b;
}

.homepage__find-city {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: 1px;
  text-align: right;
  color: #535e7b;
  text-decoration: underline;
}

.homepage__where-to-card {
  background: black;
  max-width: 350px;
  margin: auto;
  padding: 0 30px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(31, 40, 53, 0.15);
}

.homepage__where-to-card__header__city {
  font-size: 34px;
  color: #ffffff;
}

.homepage__where-to-card__header__price {
  color: #ffcc66;
  font-weight: bold;
  text-transform: uppercase;
}

.homepage__where-to-card__header__price__amount {
  font-size: 40px;
}

.homepage__where-to-card__header__price__from {
  font-size: 9px;
  text-align: right;
}

.homepage__where-to-card__header__price__symbol {
  font-size: 20px;
  text-align: right;
}

.homepage__where-to-card__separator {
  width: 100%;
  height: 1px;
  opacity: 0.6;
  background-color: #eff1f6;
}

.homepage__where-to-card__from {
  font-size: 15px;
  font-weight: 900;
  line-height: 1.8;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.homepage__where-to-card__when {
  font-size: 12px;
  font-weight: 900;
  line-height: 1.8;
  color: #ffffff;
  text-transform: uppercase;
}

.homepage__where-to-card__reserve {
  margin: auto;
  width: 70%;
}

.homepage__yoyoloop {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 1.8px;
  color: #838da7;
  margin-top: 73px;
}

.homepage__yoyoloop-main-description {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: #535e7b;
}

.homepage__yoyoloop-sub-description {
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  text-align: center;
  color: #535e7b;
}

.homepage__popular-loops {
  background: black;
}

.homepage__popular-loops__title {
  font-size: 36px;
  line-height: 1.8;
  color: #ffffff;
}

.homepage__popular-loops__city {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 10px;
}

.homepage__popular-loops__footer__reserve {
  margin: 20px auto 0 auto;
  max-width: 200px;
}

.homepage__popular-loops__features__main-title, .homepage__popular-loops__features__sub-title {
  font-size: 10px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 5px;
}

.homepage__popular-loops__features__sub-title {
  margin-top: 3px;
  font-weight: 900;
}

.homepage__popular-loops__separator {
  width: 80%;
  margin: auto;
  height: 1px;
  opacity: 0.6;
  background-color: #eff1f6;
}

.homepage__popular-loops__search {
  background: #fff;
}

.homepage__popular-loops__search__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 3px;
  color: #535e7b;
}

.homepage__popular-loops__search__btn {
  border-radius: 20px;
  background-color: #ffffff;
  border: solid 2px #ff5f6d;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.75;
  letter-spacing: 1px;
  color: #ff5f6d;
  padding: 5px 20px;
  text-transform: uppercase;
}

.homepage__popular-loops__search__btn:hover {
  color: #ff5f6d !important;
}

.homepage__see-all {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 1.8px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
}

.homepage__why-catch-ride {
  font-size: 36px;
  font-weight: bold;
  color: #535e7b;
}

.homepage__why-card__title {
  font-size: 23px;
  font-weight: 900;
  letter-spacing: normal;
  color: #535e7b;
}

.homepage__why-card__sub-title {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #838da7;
  text-transform: uppercase;
}

.homepage__why-card__separator {
  background-color: #838da7;
  height: 1px;
  width: 100px;
}

.homepage__why-card__content {
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: #8b9398;
}

.homepage__reserve-btn, .homepage__where-to-card__reserve, .homepage__popular-loops__footer__reserve {
  height: 40px;
  border-radius: 20px;
  background-color: #ff5f6d;
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}

.homepage__reserve-btn:hover, .homepage__where-to-card__reserve:hover, .homepage__popular-loops__footer__reserve:hover {
  color: white !important;
}
