.contacts {
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;

    &__navbar {
        background: white;

        a {
            color: #535e7b !important;
        }
    }

    a:hover {
        color: inherit;
        text-decoration: none;
    }

    .container-fluid {
        width: 80%;
    }

    &__main-title {
        width: 100%;
        margin-bottom: 10%;
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;

        @media #{$mobile} {
            font-size: 40px;
        }
    }

    &__contacts-title {
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.58;
        letter-spacing: 1.8px;
        text-align: left;
        color: #838da7;
    }

    &__message {

        @media #{$mobile} {
            padding: 0!important;
        }

        h2 {
            font-size: 38px;
            font-weight: 900;
            line-height: 1;
            letter-spacing: 1.9px;
            text-align: left;
            color: #ff5f6d;
        }

        h3 {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.78;
            letter-spacing: 0.4px;
            text-align: left;
            color: #838da7;
        }

        ::placeholder {
            font-size: 14px;
            line-height: 2.29;
            letter-spacing: 0.8px;
            text-align: left;
            color: #667386;
        }

        .btn {
            font-size: 14px;
            color: white;
            width: 200px;
            height: 42px;
            border-radius: 21px;
            border-color: #ff5f6d;
            background-color: #ff5f6d;
            box-shadow: 0px 5px 12px 0 rgba(255, 95, 109, 0.3);
            float: right;
            margin-top: 20px;
        }
    }

    &__divider {
        width: 90%;
        background-color: #d5dbe9;
    }

    p {
        line-height: 1;
        text-align: left;
        color: #535e7b;
    }

    a {
        text-decoration: underline;
        color: #535e7b;
        cursor: pointer;
    }
    
    // Section four stylings

    &__any-question {
        font-family: Lato;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.9;
        color: #535e7b;

        @media #{$mobile} {
            margin-right: 0!important;
            margin-bottom: 10px;
        }
    }

    // homepage reusable styles
    &__reserve-btn {
        height: 40px;
        border-radius: 20px;
        background-color: #ff5f6d;
        font-size: 16px;
        font-weight: 900;
        color: #ffffff;
        text-transform: uppercase;

        &:hover {
            color: white !important;
        }

        &--white {
            border-radius: 20px;
            background-color: white;
            color: #535e7b;
            border: solid 2px #535e7b;
            padding: 0 20px;

            &:hover {
                color: #535e7b !important;
            }
            
            @media #{$mobile} {
                font-size: 12px;
            }
        }
    }

    &__separator {
        width: 80%;
        margin: 0 auto;
        height: 2px;
        background-color: #d5dbe9;
    }
}