.static-page {
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;

    &__navbar {
        background: white;

        a {
            color: #535e7b !important;
        }
    }

    &__pic-one {
        background-image: url(../img/inside-car.jpeg) !important;
        height: 600px;
    }

    &__pic-two {
        background-image: url(../img/actor-car.jpeg) !important;
        height: 600px;
    }

    &__pic-three {
        background-image: url(../img/about.jpg) !important;
        height: 600px;
    }

    a:hover {
        color: inherit;
        text-decoration: none;
    }

    .container-fluid {
        width: 80%;
    }

    &__main-title {
        width: 50%;
        margin: 0 auto;

        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;

        @media #{$mobile} {
            font-size: 40px;
        }
    }

    &__divider {
        width: 90%;
        background-color: #d5dbe9;
    }

    p {
        line-height: 1;
        text-align: left;
        color: #535e7b;
    }

    a {
        text-decoration: underline;
        color: #535e7b;
        cursor: pointer;
    }
    
    &__any-question {
        font-family: Lato;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.9;
        color: #535e7b;

        @media #{$mobile} {
            margin-right: 0!important;
            margin-bottom: 10px;
        }
    }

    // homepage reusable styles
    &__reserve-btn {
        height: 40px;
        border-radius: 20px;
        background-color: #ff5f6d;
        font-size: 16px;
        font-weight: 900;
        color: #ffffff;
        text-transform: uppercase;

        &:hover {
            color: white !important;
        }

        &--white {
            border-radius: 20px;
            background-color: white;
            color: #535e7b;
            border: solid 2px #535e7b;
            padding: 0 20px;

            &:hover {
                color: #535e7b !important;
            }
            
            @media #{$mobile} {
                font-size: 12px;
            }
        }
    }

    &__separator {
        width: 80%;
        margin: 0 auto;
        height: 2px;
        background-color: #d5dbe9;
    }

    &__separator-vertical {
        width: 2px;
        margin: 0 auto;
        background-color: #d5dbe9;

        @media (max-width: 980px) { 
            display: none;
        }
    }

    &__center-container {
        margin: 0 auto;
        max-width: 1026px;
    }

    &__first {
        &__sub-description {
            font-size: 17px;
            line-height: 1.5;
            color: #535e7b;
            text-align: center;
        }
    }

    &__box-container {
        &__first {
            height: 320px;
            background-color: #eff1f6;
            padding-left: 100px;

            &__main-title {
                font-size: 74px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: normal;
                color: #ff5f6d;
            }

            &__sub-title {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                color: #838da7;
            }

            &__extra-title {
                font-size: 24px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #535e7b;
            }

            @media (max-width: 767px) { 
                padding-left: 0;
                display: flex;
                align-items: center;
            }
        }

        &__second {
            img {
                width: 100%;
                height: 100%;
                max-height: 320px;
            }
        }
    }

    &__box2 {
        background-color: #eff1f6;

        &__image {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 400px;
            width: 100%;

            &__copy {
                font-size: 28px;
                font-weight: 900;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.4;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
            }
        }

        &--image1 {
            background-image: url("http://via.placeholder.com/400x400");
        }
        &--image2 {
            background-image: url("http://via.placeholder.com/400x400");
        }
        &--image3 {
            background-image: url("http://via.placeholder.com/400x400");
        }
        &--image4 {
            background-image: url("http://via.placeholder.com/400x400");
        }
        &--image5 {
            background-image: url("http://via.placeholder.com/400x400");
        }

        &__text1 {
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: normal;
            text-align: center;
            color: #535e7b;
        }

        &__text2 {
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: normal;
            text-align: center;
            color: #535e7b;
        }

        &__text3--bold {
            font-weight: 800 !important;
        }

        &__text3 {
            font-size: 16px;
            font-weight: normal;
            line-height: normal;
            color: #8b9398;
        }
    }

    &__grid {
        max-width: 500px;
        margin: 0 auto;

        &__title {
            font-size: 22px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: normal;
            text-align: center;
            color: #535e7b;
        }

        &__text {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: normal;
            text-align: left;
            color: #8b9398;

            @media (max-width: 980px) { 
                max-width: 80%;
            }
        }

        @media (max-width: 980px) { 
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            max-width: 100%;
            width: 100%;
            margin: 0;
            margin-top: 60px;
        }
    }

    &__about {
        &__grid {
            .col-md-4 {
                padding: 0 6px 0 0;

                &:last-of-type {
                    padding: 0;
                }

                @media #{$mobile} {
                    padding: 0;
                }
            }
        }

        &__size {
            background-image: url(../img/nossosshuttles.jpg) !important;
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            width: 100%;
            height: 300px;
            
            &--big {
                height: 600px;
            }

            &__pic-2 {
                background-image: url(../img/contactos.jpg) !important;
            }
            &__pic-3 {
                background-image: url(../img/destino.jpg) !important;
            }
            &__pic-4 {
                background-image: url(../img/actor-car.jpeg) !important;
            }
            &__pic-5 {
                background-image: url(../img/comoviajar.jpg) !important;
            }
            &__pic-6 {
                background-image: url(../img/comofunciona.jpg) !important;
            }
            &__pic-7 {
                background-image: url(../img/loop.jpg) !important;
            }
        }
    }

    &__grid {
        &__main-title {
            font-size: 38px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }

        &__sub-title {
            max-width: 800px;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.3;
            letter-spacing: 1px;
            text-align: center;
            color: #ffffff;
        }
    }
}