.travel {
    font-family: Lato;

    &__navbar {
        background: white;

        a {
            color: #535e7b !important;
        }
    }

    a:hover {
        color: inherit;
        text-decoration: none;
    }

    &__container {
        padding-left: 60px;
        padding-right: 40px;
        margin-top: 220px;
        width: 1027px;
        margin: 220px auto 0 auto;
    }

    &__main-title {
        font-size: 38px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 2px;
        color: #ff5f6d;
    }

    &__sub-title {
        font-size: 22px;
        
        color: #535e7b;

        &--red {
            color: #ff5f6d;
        }

        &--link {
            text-decoration: underline;
        }
    }

    &__card {
        min-height: 350px;

        &__first {
            background: #ffcc66;
            padding: 40px;

            &__path {
                @media (max-width: 767px) {
                    position: absolute;
                    left: 0;
                    align-items: flex-start !important;

                    img {
                        margin-left: 2px;
                    }
                }
            }
            
            &__your-trip {
                font-size: 24px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.6;
                letter-spacing: normal;
                color: #535e7b;

                @media #{$mobile} {
                    text-align: center;
                }
            }

            &__point {
                font-size: 14px;
                margin-bottom: 10px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1px;
                text-align: left;
                color: #ffffff;
            }

            &__city {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.3;
                font-size: 24px;
                font-weight: bold;
                color: #535e7b;
            }

            &__area {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                font-weight: bold;
                line-height: 1.3;
                color: #535e7b;
                text-decoration: underline; 
            }

            &__location {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.3;
                color: #535e7b;
            }

            &__text {
                font-size: 14px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.6;
                letter-spacing: normal;
                color: #535e7b;

                .cart {
                    width: 14px;
                }
            }

            &__separator {
                height: 2px;
                background-color: #535e7b;
                opacity: 0.3;
            }
        }

        &__separator {
            top: 0;
            position: absolute;
            height: 100%;
            left: -8px;

            @media #{$mobile} {
                text-align: center;
                transform: rotate(90deg);
                left: 435px;
                height: 930px;
                top: -465px;
            }
        }

        &__last {
            padding: 40px;
            background: #ffd580;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            &__gray-text {
                font-size: 16px;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1px;
                color: #838da7;
            }

            &__users {
                font-size: 12px;
                font-weight: bold;
                line-height: 2.8;
                letter-spacing: normal;
                text-align: left;
                color: #535e7b;
                text-align: right;

                img {
                    height: 15px;
                }
            }
    
            &__price {
                font-size: 48px;
                font-weight: bold;
                letter-spacing: normal;
                text-align: right;
                color: #ff5f6d;
            }

            &__ticket-number {
                font-size: 24px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: #535e7b;
            }
        }
    }

    &__white-btn {
        width: 209px;
        height: 41px;
        border-radius: 20px;
        background-color: #ffffff;
        border: solid 2px #ff5f6d;
        color: #ff5f6d !important;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__copy-bold {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.78;
        letter-spacing: 0.4px;
        text-align: left;
        color: #838da7;
    }

    &__my-tickets {
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        color: #535e7b;
    }
    

    &__separator {
        height: 2px;
        background-color: #d5dbe9;
    }

    &__reserve {
        height: 40px;
        border-radius: 20px;
        background-color: #ff5f6d;
        font-size: 16px;
        font-weight: 900;
        color: #ffffff;
        text-transform: uppercase;
        width: 250px;
        margin: 0 auto;

        &:hover {
            color: white !important;
        }
    }
}

.white-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}