$mobile: "(max-width: 767.98px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$laptop: "(min-width: 1024px) and (max-width: 1439px)";
$desktop: "(min-width: 1440px)";

.checkout {
    font-family: Lato;

    &__navbar {
        background: white;

        a {
            color: #535e7b !important;
        }
    }

    a:hover {
        color: inherit;
        text-decoration: none;
    }

    select {
        -webkit-appearance: none;
        background: url(/img/arr-down.png) no-repeat right;
        background-position: 90%;
    }

    &__container {
        padding-left: 60px;
        padding-right: 40px;
        margin-top: 220px;

        @media #{$mobile} {
            padding: 0 !important;
        }
    }

    &__main-title {
        font-size: 38px;
        font-weight: 900;
        line-height: 1.3;
        letter-spacing: 2px;
        color: #ff5f6d;
        margin-bottom: 20px;
    }

    &__sub-title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.6;
        color: #535e7b;
        margin-bottom: 15px;
    }

    &__sub-title-policy {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.6;
        color: #535e7b;
        margin-bottom: 15px;
    }

    &__policy-text {
        max-width: 600px;
        font-size: 14px;
        line-height: 1.57;
        text-align: left;
        color: #8b9398;
    }

    &__error {

        &-btn {
            height: 40px;
            border-radius: 20px;
            background-color: #ff5f6d;
            font-size: 16px;
            font-weight: 900;
            color: #ffffff;
            text-transform: uppercase;

            &:hover {
                color: white !important;
            }
        }
    }

    &__accept-terms-condition {
        max-width: 650px;

        @media #{$mobile} {
            text-align: center !important;
        }

        &--pay {
            text-align: right;

            @media #{$mobile} {
                padding-top: 20px;
                text-align: center !important;
            }

            .btn {
                font-size: 14px;
                color: white;
                width: 187px;
                height: 40px;
                border-radius: 19.5px;
                border-color: #ff5f6d;
                background-color: #ff5f6d;
                box-shadow: 0px 5px 12px 0 rgba(255, 95, 109, 0.3);
            }
        }
    }

    &__terms-conditions {
        font-size: 12px;
        text-align: left;
        color: #8b9398;

        a {
            color: #ff5f6d;
            text-decoration: underline;
        }

        &--error {
            font-size: 16px;
        }

        &--invisible {
            visibility: hidden !important;
        }
    }

    &__label {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.8;
        letter-spacing: 1px;
        color: #838da7;
    }

    &__card-info {
        max-width: 480px;
    }

    &__billing {
        max-width: 615px;

        &--checkbox {

            @media #{$mobile} {
                padding-left: 15px;
                padding-bottom: 10px;
                justify-content: flex-end;
            }
        }
    }

    &__input {
        height: 40px;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px rgba(102, 115, 134, 0.2);
        font-size: 14px;
        line-height: 2.3;
        letter-spacing: 1px;
        text-align: left;
        color: #667386;
        padding-left: 10px;
        margin: 5px 0 10px 0;
        width: 100%;

        &::placeholder {
            opacity: 0.5;
            font-size: 14px;
            color: rgba(102, 115, 134, 0.5);
        }

        &--name {
            max-width: 450px;

            :disabled {
                border: solid 1px rgba(102, 115, 134, 0.2) !important;
                background-color: #ffffff !important;
                color: #667386 !important;
            }
        }

        &--birthday {
            max-width: 190px;
        }

        &--email {
            max-width: 360px;
        }

        &--country {
            max-width: 85px;
        }

        &--phone {
            max-width: 135px;
        }

        &--password {
            max-width: 190px;
        }

        &--billing-name {
            max-width: 600px;
        }

        &--company {
            max-width: 600px;
        }

        &--nif {
            max-width: 130px;
        }

        &--postal-code {
            max-width: 130px;
        }

        &--city {
            width: 100%;
            max-width: 250px;
        }

        &--payment-method {
            max-width: 450px;
        }

        &--card-number {
            max-width: 280px;

            :disabled {
                border: solid 1px rgba(102, 115, 134, 0.2) !important;
                background-color: #ffffff !important;
                color: #667386 !important;
            }
        }

        &--card-expiration {
            max-width: 100px;

            :disabled {
                border: solid 1px rgba(102, 115, 134, 0.2) !important;
                background-color: #ffffff !important;
                color: #667386 !important;
            }
        }

        &--card-cvv {
            max-width: 80px;
        }

        &--promocode {
            max-width: 300px;
        }
    }

    &__promocode {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: normal;
        color: #ff5f6d;
        text-decoration: none;
        cursor: pointer;

        a {
            font-size: 14px;
            font-weight: bold;
            letter-spacing: normal;
            color: #ff5f6d;
            text-decoration: underline;
            cursor: pointer;
        }

        &--active {
            a {
                color: #535e7b;
            }
        }

        .input-group {
            max-width: 235px;
            border-radius: .25rem;
        }

        &--promocode-default {
            background-color: #ff5f6d;
            border-color: #ff5f6d;
            border-radius: 50px !important;
            position: absolute;
            padding: 11px;
            pointer-events: none;
            z-index: 10;
            margin-left: 98px;
            margin-top: 3px;


            @media #{$mobile} {
                margin-left: 86px;
            }
        }

        &--promocode-clean {
            background-color: white;
            border-color: white;
            position: absolute;
            z-index: 10;
            margin-left: 278px;
            margin-top: 18px;
            padding: 0;

            @media #{$mobile} {
                margin-left: 266px;
            }
        }

        &--promocode-approved {
            border-radius: 4px;
            background-color: #2ecc71;
            border-color: #2ecc71;
            color: white;
            position: absolute;
            padding: 11px;
            pointer-events: none;
            z-index: 10;
            margin-left: 5px;
            margin-top: 9px;
            width: 160px;
            height: 32px;

            @media #{$mobile} {
                margin-left: 15px;
            }
        }

        &--promocode-error {
            border-radius: 4px;
            background-color: #ffcc66;
            border-color: #ffcc66;
            color: white;
            position: absolute;
            padding: 11px;
            pointer-events: none;
            z-index: 10;
            margin-left: 5px;
            margin-top: 9px;
            width: 160px;
            height: 32px;

            @media #{$mobile} {
                margin-left: 15px;
            }
        }

        .form-control:disabled, .form-control[readonly] {
            background-color: white;
            border: 1px solid #ced4da;
        }
    }

    &__separator {
        max-width: 600px;
        width: 100%;
        margin: 20px 0;
        height: 2px;
        background-color: #d5dbe9;
    }

    &__confirm-check {
        font-size: 14px;
        font-weight: bold;
        line-height: 2;
        letter-spacing: 1px;
        color: #838da7;
    }

    &__btn {
        border-radius: 20px;
        background-color: #ff5f6d;
        box-shadow: 0px 5px 12px 0 rgba(255, 95, 109, 0.3);
        padding: 10px 40px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
    }

    &__menu {
        padding: 10px;
        max-width: 250px;
        padding: 30px 0 30px 30px;
        border-color: #d5dbe9;
        border-width: 0 0 0 2px;
        border-style: solid;
        position: fixed;

        &__separator {
            height: 2px;
            width: 100%;
            background-color: #d5dbe9;
        }

        &__link {
            width: 100%;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #838da7 !important;

            &--selected {
                color: #ff5f6d !important;
            }
        }
    }

    &__sticky {
        position: sticky;
        top: 120px;
    }

    .next-trip {
        font-family: Lato;
        margin-top: 8px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px rgba(102, 115, 134, 0.2);

        .date {
            padding: 16px 16px 0 16px;
        }

        .time {
            padding: 0 16px 0 16px;

            &:last-child {
                padding-bottom: 16px;
            }

            .price {
                &--fully-available {
                    color: #2ecc71;
                }

                &--available {
                    color: #f39c12;
                }

                &--limited-availability {
                    color: #ff5f6d;
                }

                &--unavailable {
                    color: #838da7;
                }
            }
        }

        .direction {
            color: #c1c6d3;
        }

        .divider {
            width: 90%;
            background-color: #d5dbe9;
        }

        .btn-cart {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #ff5f6d;
            border-color: #ff5f6d;
            box-shadow: 0px 5px 12px 0 rgba(255, 95, 109, 0.3);
        }

        .trip {
            padding: 0 16px 0 16px;

            &:last-child {
                padding-bottom: 16px;
            }

            .start-end {
                font-family: Lato;
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.3px;
                text-align: left;
                color: #c1c6d3;
            }

            .city-name {
                font-family: Lato;
                font-size: 14px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.4px;
                text-align: left;
                color: #535e7b;
            }

            .access-point {
                line-height: 1;
            }
        }

        .pricing {
            padding: 0 16px 0 16px;
            font-family: Lato;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;

            .total {
                font-weight: bold;
                letter-spacing: 0.4px;
                color: #c1c6d3;
                font-size: 12px;
            }

            .times {
                font-size: 10px;
            }

            .price {
                color: #ff5f6d;
                font-weight: bold;
            }

            .price-base {
                font-size: 18px;
            }

            .price-green {
                color: #2ecc71;
                font-weight: bold;
            }

            .total-price {
                font-size: 30px;
                font-weight: bold;
                letter-spacing: normal;
                color: #ff5f6d;


                @media #{$mobile} {
                    font-size: 18px;
                }
            }

            .promocode {
                font-size: 14px;
                font-weight: bold;
                letter-spacing: normal;
                text-align: center;
                color: #ff5f6d;
                text-decoration: underline;
                cursor: pointer;

                &--active {
                    color: #535e7b;
                }

                .input-group-text {
                    background-color: #ff5f6d;
                }
            }

            .btn {
                font-size: 14px;
                color: white;
                width: 187px;
                height: 40px;
                border-radius: 19.5px;
                border-color: #ff5f6d;
                background-color: #ff5f6d;
                box-shadow: 0px 5px 12px 0 rgba(255, 95, 109, 0.3);
            }
        }
    }

    .form-check {
        .form-check-input {
            width: 30px;
            height: 30px;
            background-color: #ffffff;
        }

        .form-check-label {
            margin-left: 12px;
            font-family: Lato;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.4;
            letter-spacing: 0.4px;
            text-align: left;
            color: #838da7;
        }
    }

    .panel-end {
        &:last-child {
            padding-bottom: 16px;
        }
    }
}

.confirm-check {
    width: 20px;
    height: 20px;
    background-color: #2ecc71;
    border-radius: 50%;  
}
