.help {
    font-family: Lato;

    &__navbar {
        background: white;

        a {
            color: #535e7b !important;
        }
    }

    a:hover {
        color: inherit;
        text-decoration: none;
    }

    &__container {
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 220px;
        max-width: 1027px;
        margin: 220px auto 0 auto;

        @media #{$mobile} {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__main-title {
        font-size: 38px;
        font-weight: 900;
        line-height: 1.3;
        letter-spacing: 2px;
        color: #ff5f6d;
        margin-bottom: 20px;

        &__btn {
            height: 36px;
            border-radius: 4px;
            padding: 0 30px;
            background-color: #ffffff;
            border: solid 1px #bec4d3;
            font-size: 14px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            color: #535e7b;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;

            @media #{$mobile} {
                margin-top: 20px;
            }
        }

        @media #{$mobile} {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
    }

    &__separator {
        width: 100%;
        height: 2px;
        background-color: #d5dbe9;
    }


    &__menu {
        font-family: Lato;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;

        &__main-title {
            font-size: 30px;
            font-weight: bold;
            color: #535e7b;
        }

        &__sub-title {
            font-size: 18px;
            font-weight: bold;
            line-height: 1.9;
            color: #535e7b;
        }

        &__text {
            font-size: 14px;
            line-height: 2.1;
            color: #535e7b;
        }

        &__see-all {
            font-weight: 500;
            line-height: 2.5;
            color: #ff5f6d;
        }
    }

    &__input {
        position: relative;
        max-width: 600px;

        input {
            width: 100%;
            height: 40px;
            border-radius: 4px;
            background-color: #ffffff;
            border: solid 1px rgba(102, 115, 134, 0.2);
            padding-left: 20px;

            &::placeholder {
                font-size: 14px;
                line-height: 2.3;
                letter-spacing: 0.8px;
                text-align: left;
                color: #667386;
            }
        }

        .search {
            position: absolute;
            width: 20px;
            right: 10px;
            top: 10px;
        }
    }

    .panel-title {
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: #d5dbe9;

        &__subtitle {
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 3;
            letter-spacing: normal;
            text-align: left;
            color: #535e7b;
        }

        a[aria-expanded="true"] {
            color: #ff5f6d;
        }
    }

    .panel-body {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.3;
        letter-spacing: 1px;
        text-align: left;
        color: #535e7b;
    }

    .panel-group {
        display: none;

        &__show {
            display: block;
        }
    }

    .left-menu {
        &__entry {
            padding: 10px 20px;
            cursor: pointer;

            a {
                color: #535e7b;
            }

            &--selected {
                padding: 10px 20px;
                border-radius: 20px;
                background-color: #ff5f6d;
                color: white;
                box-shadow: 0px 5px 12px 0 rgba(255, 95, 109, 0.3);

                a {
                    color: white;
                }
            }
        }

        @media #{$mobile} {
            display: none;
        }
    }

    .left-menu-mobile {
        display: none;
        -webkit-appearance: none;

        @media #{$mobile} {
            display: flex;
            justify-content: center;
            color: white;
            position: relative;

            img {
                margin-left: -30px;
                margin-top: 20px;
                height: 10px;
            }

            &__select {
                width: 350px;
                height: 50px;
                padding-left: 30px;
                border-radius: 25px;
                color: white;
                background-color: #ff5f6d;
                box-shadow: 0px 5px 12px 0 rgba(255, 95, 109, 0.3);
            }
        }
    }
}
