$mobile: "(max-width: 767.98px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$laptop: "(min-width: 1024px) and (max-width: 1439px)";
$desktop: "(min-width: 1440px)";

.homepage {
    font-family: Lato;

    &__navbar {
        background: white;

        a {
            color: #535e7b !important;
        }
    }

    a:hover {
        color: inherit;
        text-decoration: none;
    }

    &__container {
        padding-left: 60px;
        padding-right: 40px;


        @media #{$mobile} {
            padding-left: 20px;
            padding-right: 10px;
        }

        &--first {
            margin-top: 220px;
        }

        &--second {
            background: #eff1f6;

            img.illustration {
                width: 100%;
                height: 100%;
            }
        }

        &--third {
            padding-top: 30px;
            background-image: linear-gradient(to bottom, #ff5f6d, #ffc371);
        }

        &--forth {
            padding-top: 30px;
        }

    }
    
    // Section One stylings
    &__main-title {
        font-size: 42px;
        font-weight: 900;
        line-height: 1.2;
        letter-spacing: 2.1px;
        color: #ff5f6d;
        text-transform: uppercase;
        width: 868px;

        @media #{$mobile} {
            font-size: 32px;
        }
    }

    &__sub-title {
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: 0.5px;
        color: #535e7b;
        width: 836px;
    }

    &__where-to-go {
        font-size: 20px;
        font-weight: 900;
        line-height: 1.6;
        letter-spacing: 1.2px;
        text-align: left;
        color: #535e7b;
    }

    &__find-city {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.75;
        letter-spacing: 1px;
        text-align: right;
        color: #535e7b;
        text-decoration: underline;
    }

    &__where-to-card {
        background:black;
        max-width: 315px;
        margin: auto;
        padding: 0 30px;
        border-radius: 4px;
        box-shadow: 0 0 60px 0 rgba(31, 40, 53, 0.15);

        &--lisboa {
            background-image: url("../img/lisboa.png");
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: 425px 425px;
        }

        &--leiria {
            background-image: url("../img/Leiria.png");
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: 425px 425px;
        }

        &--coimbra {
            background-image: url("../img/Coimbra.png");
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: 425px 425px;
        }

        &--cascais {
            background-image: url("../img/Cascais.png");
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: 425px 425px;
        }

        &__header {
            &__city {
                font-size: 34px;
                color: #ffffff;
            }

            &__price {
                color: #ffcc66;
                font-weight: bold;
                text-transform: uppercase;
                
                &__amount {
                    font-size: 40px;
                }

                &__from {
                    font-size: 9px;
                    text-align: right;
                }

                &__symbol {
                    font-size: 20px;
                    text-align: right;
                }
            }
        }

        &__separator {
            width: 100%;
            height: 1px;
            opacity: 0.6;
            background-color: #eff1f6;
        }

        &__from {
            font-size: 15px;
            font-weight: 900;
            line-height: 1.8;
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
        }

        &__when {
            font-size: 12px;
            font-weight: 900;
            line-height: 1.8;
            color: #ffffff;
            text-transform: uppercase;
        }

        &__reserve {
            @extend .homepage__reserve-btn;

            margin: auto;
            width: 70%;
        }
    }

    // Section two stylings
    &__yoyoloop {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.6;
        letter-spacing: 1.8px;
        color: #838da7;
        margin-top: 73px;
    }

    &__yoyoloop-main-description {
        font-size: 38px;
        font-weight: bold;
        text-align: center;
        color: #535e7b;
    }

    &__yoyoloop-sub-description {
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: 0.5px;
        text-align: center;
        color: #535e7b;
    }

    // Section three stylings
    &__popular-loops {
        background: black;

        &__title {
            font-size: 36px;
            line-height: 1.8;
            color: #ffffff;
        }

        &__city {
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 2px;
            color: #ffffff;
            text-transform: uppercase;
            margin-top: 10px;
        }

        &__footer {
            &__reserve {
                @extend .homepage__reserve-btn;

                margin: 20px auto 0 auto;
                max-width: 200px;
            }
        }

        &__features {
            &__main-title {
                font-size: 10px;
                color: #ffffff;
                text-transform: uppercase;
                margin-top: 5px;
            }

            &__sub-title {
                @extend .homepage__popular-loops__features__main-title;

                margin-top: 3px;
                font-weight: 900;
            }
        }

        &__separator {
            width: 80%;
            margin: auto;
            height: 1px;
            opacity: 0.6;
            background-color: #eff1f6;
        }

        &__search {
            background: #fff;

            &__title {
                font-size: 24px;
                font-weight: 600;
                line-height: 1.2;
                letter-spacing: 3px;
                color: #535e7b;
            }

            &__btn {
                border-radius: 20px;
                background-color: #ffffff;
                border: solid 2px #ff5f6d;
                font-size: 16px;
                font-weight: 900;
                line-height: 1.75;
                letter-spacing: 1px;
                color: #ff5f6d;
                padding: 5px 20px;
                text-transform: uppercase;
                
                &:hover {
                    color: #ff5f6d !important;
                }
            }
        }
    }
    
    &__see-all {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.6;
        letter-spacing: 1.8px;
        text-align: left;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: underline;
    }

    // Section four stylings
    &__why-catch-ride {
        font-size: 36px;
        font-weight: bold;
        color: #535e7b;
    }

    &__why-card {
        &__title {
            font-size: 23px;
            font-weight: 900;
            letter-spacing: normal;
            color: #535e7b;
        }

        &__sub-title {
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 1px;
            text-align: center;
            color: #838da7;
            text-transform: uppercase;
        }

        &__separator {
            background-color: #838da7;
            height: 1px;
            width: 100px;
        }

        &__content {
            font-size: 14px;
            line-height: 1.6;
            text-align: center;
            color: #8b9398;
        }
    }

    // homepage reusable styles
    &__reserve-btn {
        height: 40px;
        border-radius: 20px;
        background-color: #ff5f6d;
        font-size: 16px;
        font-weight: 900;
        color: #ffffff;
        text-transform: uppercase;

        &:hover {
            color: white !important;
        }
    }
}