$mobile: "(max-width: 767.98px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$laptop: "(min-width: 1024px) and (max-width: 1439px)";
$desktop: "(min-width: 1440px)";

.homepage {
    font-family: Lato;

    &__navbar {
        background: white;

        a {
            color: #535e7b !important;
        }
    }

    a:hover {
        color: inherit;
        text-decoration: none;
    }

    &__container {
        &--first {
            margin-top: 13.125rem;
        }

        &--second {
            margin-top: 3.875rem;
            padding-top: 6rem;
            padding-bottom: 6.25rem;
            background-image: linear-gradient(to bottom, #ff5f6d, #ffc371);
        }

        &--third {
            padding-top: 4.5rem;
            background: #eff1f6;
        }

        &--forth {
            max-width: 76.25rem;
            margin-top: 4.625rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
    // Section One stylings
    &__main-title {
        max-width: 26.1927em;
        font-size: 41.5px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: 0.0506em;
        color: #ff5f6d;
        text-transform: uppercase;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        @media #{$mobile} {
            font-size: 32px;
        }
    }

    &__sub-title {
        max-width: 41.2em;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: 0.025em;
        color: #535e7b;
        text-align: center;
        margin-top: 1.25em;
        margin-left: auto;
        margin-right: auto;
    }
    // Section two stylings
    &__popular-loops {
        max-width: 76.25rem;
        margin-left: auto;
        margin-right: auto;

        &__item {
            background: black;
            padding: 0 2.75rem;
            max-width: 38.125rem;
            margin-left: auto;
            margin-right: auto;

            &--image1 {
                background-image: url('/img/portoLoop.png');
                background-position: center center;
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: inherit;
            }

            &--image2 {
                background-image: url('/img/bragaloop.png');
                background-position: center center;
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: inherit;
            }

            &--image3 {
                background-image: url('/img/coimbraloop.png');
                background-position: center center;
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: inherit;
            }

            &__row {
                height: 8.75rem;
            }

            &__city {
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0.1em;
                line-height: 1.43;
                color: #ffffff;
                text-transform: uppercase;
                margin-top: 10px;
            }

            &__separator {
                width: 100%;
                margin: 0.25rem auto;
                height: 1px;
                opacity: 0.6;
                background-color: #eff1f6;
            }

            &__price {
                color: #ffcc66;
                line-height: normal;

                &__from {
                    font-size: 20px;
                    padding-bottom: 0.4em;
                }

                &__amount {
                    font-size: 60px;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                &__symbol {
                    font-size: 20px;
                    font-weight: bold;
                    padding-bottom: 0.4em;
                }
            }

            &__reserve-btn {
                height: 2.5em;
                border-radius: 1.25em;
                background-color: #ff5f6d;
                font-size: 16px;
                font-weight: 900;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.75;
                letter-spacing: 1px;
                color: #ffffff;
                text-transform: uppercase;
                min-width: 8em;

                &:hover {
                    color: white;
                }
            }

            &__search {
                background: #fff;
                background-image: url('/img/curve.png');
                background-position: center center;
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: 260px 260px;

                &__title {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.2;
                    letter-spacing: 3px;
                    color: #535e7b;

                    @media #{$mobile} {
                        text-align: center;
                    }
                }

                &__btn {
                    border-radius: 20px;
                    background-color: #ffffff;
                    border: solid 2px #ff5f6d;
                    font-size: 16px;
                    font-weight: 900;
                    line-height: 1.75;
                    letter-spacing: 1px;
                    color: #ff5f6d;
                    padding: 5px 20px;
                    text-transform: uppercase;

                    &:hover {
                        color: #ff5f6d !important;
                    }
                }
            }
        }
    }
    // Section three stylings
    &__yoyoloop-title {
        max-width: 6.25em;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.58;
        letter-spacing: 0.1em;
        color: #838da7;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    &__yoyoloop-main-description {
        max-width: 22.32em;
        font-size: 38px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #535e7b;
        text-align: center;
        margin-top: 1.05em;
        margin-left: auto;
        margin-right: auto;

        @media #{$mobile} {
            font-size: 24px;
        }
    }

    &__yoyoloop-loopico {
        max-width: 2rem;
        margin-top: 1.875rem;
        margin-left: auto;
        margin-right: auto;
    }

    &__yoyoloop-illustration {
        max-width: 68rem;
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;

        img.illustration {
            width: 100%;
            height: 100%;
        }
    }
    // Section four stylings
    &__why-catch-ride {
        font-size: 36px;
        font-weight: bold;
        color: #535e7b;

        @media #{$mobile} {
            text-align: center;
        }
    }

    &__why-card {
        &__title {
            font-size: 23px;
            font-weight: 900;
            letter-spacing: normal;
            color: #535e7b;
        }

        &__sub-title {
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 1px;
            text-align: center;
            color: #838da7;
            text-transform: uppercase;
        }

        &__separator {
            background-color: #838da7;
            height: 1px;
            width: 100px;
        }

        &__content {
            font-size: 14px;
            line-height: 1.6;
            text-align: center;
            color: #8b9398;
        }
    }

    &__suggest {

        &--text {
            font-size: 14px;
            letter-spacing: 0.3px;
            text-align: left;
            color: #c1c6d3;
        }

        &--input {
            &::placeholder {
                font-size: 14px;
                line-height: 2.29;
                letter-spacing: 0.8px;
                color: #667386;
            }

            &:disabled {
                background-color: white !important;
                border: 1px solid #ced4da !important;
            }
        }
    }
}