$mobile: "(max-width: 767.98px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$laptop: "(min-width: 1024px) and (max-width: 1439px)";
$desktop: "(min-width: 1440px)";

.invitefriends {
    font-family: Lato;

    &__navbar {
        background: white;

        a {
            color: #535e7b !important;
        }
    }

    a:hover {
        color: inherit;
        text-decoration: none;
    }

    &__main-title {
        width: 100%;
        margin: 100px;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
    }

    &__container {
        padding-left: 60px;
        padding-right: 40px;

        &--first {
            height: 1000px;
            background: red;
        }

        &--second {
            background: white;
        }

        &--third {
            padding: 80px 0;
            background: #eff1f6;
        }

        &--forth {
            padding-top: 30px;
        }
    }
    
    // Section One stylings
   
    // Section two stylings
    &__yoyoloop-main-description {
        font-size: 38px;
        font-weight: bold;
        text-align: center;
        color: #535e7b;
    }

    &__yoyoloop-sub-description {
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: 0.5px;
        text-align: center;
        color: #535e7b;
    }

    &__why-card {
        &__title {
            font-size: 23px;
            font-weight: 900;
            letter-spacing: normal;
            color: #535e7b;
        }

        &__sub-title {
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 1px;
            text-align: center;
            color: #838da7;
            text-transform: uppercase;
        }

        &__separator {
            background-color: #838da7;
            height: 1px;
            width: 100px;
        }

        &__content {
            font-size: 14px;
            line-height: 1.6;
            text-align: center;
            color: #8b9398;
        }

        img {
            height: 81px;
        }
    }

    &__why-catch-ride {
        font-size: 36px;
        font-weight: bold;
        color: #535e7b;
    }

    // Section three stylings

    &__promocode {
        &__text {
            font-size: 18px;
            font-weight: bold;
            line-height: 2;
            color: #535e7b;
        }

        &__input {
            width: 300px;
            height: 40px;
            border-radius: 4px;
            background-color: #ffffff;
            border: solid 1px rgba(102, 115, 134, 0.2);

            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            position: relative;
        }

        &__label {
            font-size: 16px;
            font-weight: bold;
            color: #ff5f6d;
            padding-left: 15px;
            float: left;
        }

        &__label {
            font-size: 16px;
            font-weight: bold;
            color: #ff5f6d;
            padding-left: 15px;
            float: left;
        }

        &__copy {
            font-size: 12px;
            color: #838da7;
            float: right;
            text-decoration: underline;
            cursor: pointer;
        }

        &__reserve {
            @extend .invitefriends__reserve-btn;
    
            margin: auto;
            width: 200px;
        }    
    }
    
    // Section four stylings

    &__any-question {
        font-family: Lato;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.9;
        color: #535e7b;
    }

    // homepage reusable styles
    &__reserve-btn {
        height: 40px;
        border-radius: 20px;
        background-color: #ff5f6d;
        font-size: 16px;
        font-weight: 900;
        color: #ffffff;
        text-transform: uppercase;

        &:hover {
            color: white !important;
        }

        &--white {
            border-radius: 20px;
            background-color: white;
            color: #535e7b;
            border: solid 2px #535e7b;
            padding: 0 20px;

            &:hover {
                color: #535e7b !important;
            }
        }
    }

    &__separator {
        width: 80%;
        margin: 0 auto;
        height: 2px;
        background-color: #d5dbe9;
    }

    &__hidden {
        visibility: hidden;
    }

    &__popover {
        position: absolute;
        background: white;
        padding: 10px 35px;

        &--copied {
            top: -60px;
            left: 30px;
    
            font-size: 14px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            color: #838da7;
            
            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
                content: '';
                position: absolute;
                left: 115px;
                top: 37px;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid white;
                clear: both;
            }

            .check {
                height: 16px;
                width: 16px;
                background-repeat: no-repeat;
                background-color: #2ecc71;
                border-radius: 50%;
                background-position: center;
                margin-right: 15px;
            }
        } 

        &--register {
            top: 60px;
            right: 0;
            
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &::after {
                content: '';
                position: absolute;
                top: -10px;
                right: 100px;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid white;
                clear: both;
            }

            @media (max-width: 767px) { 
                top: 100px;
                right: 50px;
            }
        }

        &__link {
            text-align: left;
            width: 100%;
            font-size: 13px;
            font-weight: 600;
            color: #838da7;
            margin: 10px 0;
            cursor: pointer;

            img {
                margin-right: 10px;
                width: 16px;
            }

            .face {
                width: 16px;
            }
            
        }

        &__separator {
            width: 100%;
            height: 2px;
            background-color: #d5dbe9;
        }
    }

    &__copy-link {
        position: relative;
    }
}

.check {
    background: url(../img/check.png);
}