$mobile: "(max-width: 767.98px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$laptop: "(min-width: 1024px) and (max-width: 1439px)";
$desktop: "(min-width: 1440px)";

.login {
    font-family: Lato;
    font-style: normal;
    font-stretch: normal;

    &__main-title {
        font-size: 20px;
        font-weight: 900;
        line-height: 1.6;
        letter-spacing: 1.2px;
        color: #ff5f6d;
    }

    &__separator {
        background-color: #ff5f6d;
        margin: 20px 15px 20px 15px;

        &--grey {
            margin: 20px 15px 20px 15px;
            background-color: #d5dbe9;
        }
    }

    &__with {
        &--facebook {
            width: 200px;
            border-radius: 21px;
            background-color: #3b5998;
            border-color: #3b5998;
            box-shadow: 0px 5px 12px 0 rgba(59, 89, 152, 0.3);
        }

        &--google {
            width: 200px;
            border-radius: 21px;
            background-color: #c71610;
            border-color: #c71610;
            box-shadow: 0px 5px 12px 0 rgba(199, 22, 16, 0.3);
        }

        &--email {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.78;
            letter-spacing: 0.4px;
            color: #838da7;

            a {
                color: #ff5f6d;
                text-decoration: underline;
            }
        }
    }

    &__facebook-row {
        @media #{$mobile} {
            text-align: center!important;
            margin-bottom: 10px;
        }
    }

    &__google-row {
        @media #{$mobile} {
            text-align: center!important;
        }
    }

    &__forgot-password {
        @media #{$mobile} {
            text-align: center!important;
        }
    }

    &__log-in {
        @media #{$mobile} {
            text-align: center!important;
        }
    }

    &__campaigns {
        padding-left: 30px;
        @media #{$mobile} {
            text-align: center!important;
        }
    }

    &__or {
        font-size: 12px;
        letter-spacing: 0.3px;
        text-align: left;
        color: #c1c6d3;
    }

    &__input {
        &::placeholder {
            font-size: 14px;
            line-height: 2.29;
            letter-spacing: 0.8px;
            color: #667386;
        }

        &--label {
            margin-left: 15px;
            padding-top: 5px;
            font-size: 11px;
            line-height: 1.27;
            color: #8b9398;
        }

        &--checkbox {
            width: 30px;
            height: 30px;
            background-color: #ffffff;
            border: solid 1px rgba(102, 115, 134, 0.2);
        }
    }

    &__forgot-password {
        padding-left: 30px;
        a {
            font-size: 14px;
            font-weight: bold;
            line-height: 3.21;
            color: #ff5f6d;
            text-decoration: underline;
        }
    }

    &__login {
        width: 200px;
        height: 42px;
        border-radius: 21px;
        background-color: #ff5f6d;
        border-color: #ff5f6d;
        box-shadow: 0px 5px 12px 0 rgba(255, 95, 109, 0.3);

        &:hover {
            background-color: #ff5f6d;
            border-color: #ff5f6d;
            opacity: 0.9;
        }
    }
}

input:checked {
    color: #c71610;
    background-color: #c71610;
}

.modal {
    overflow-y: scroll;
}