.navbar.scrolled {
  background-color: #ffffff;
  box-shadow: 0px 5px 12px 0 rgba(83, 94, 123, 0.1); }
  .navbar.scrolled a {
    color: #535e7b !important; }
  .navbar.scrolled img.logo {
    margin: 0 !important;
    width: 60px !important;
    height: 60px !important;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }

#main-nav {
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  font-stretch: normal; }
  @media (max-width: 767px) {
    #main-nav .container-fluid {
      display: flex;
      justify-content: center; }
      #main-nav .container-fluid img.logo {
        margin: 20px;
        width: 100px;
        height: 100px;
        -ms-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; } }
  #main-nav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 2rem;
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.8px;
    text-align: center;
    color: #fbfbfb; }
  #main-nav p {
    margin: 0;
    font-size: 14px;
    text-align: left;
    color: #ff5f6d; }
  #main-nav img.logo {
    margin: 20px;
    width: 120px;
    height: 120px; }
  #main-nav .btn {
    font-size: 14px;
    color: white;
    width: 187px;
    height: 40px;
    border-radius: 19.5px;
    border-color: #ff5f6d;
    background-color: #ff5f6d;
    box-shadow: 0px 5px 12px 0 rgba(255, 95, 109, 0.3); }
