$mobile: "(max-width: 767.98px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$laptop: "(min-width: 1024px) and (max-width: 1439px)";
$desktop: "(min-width: 1440px)";


.navbar.scrolled {
    background-color: #ffffff;
    box-shadow: 0px 5px 12px 0 rgba(83, 94, 123, 0.1);

    a {
        color: #535e7b !important;
    }

    img.logo {
        margin: 0 !important;
        width: 60px !important;
        height: 60px !important;
        -ms-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
}

#main-nav {
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;

    .container-fluid {
        @media (max-width: 767px) {
            display: flex;
            justify-content: center;

            img.logo {
                margin: 20px;
                width: 100px;
                height: 100px;
                -ms-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -webkit-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }
        }
    }

    .navbar-nav > li.nav-item > a.nav-link {
        padding: 0.5rem 2rem;
        font-family: Lato;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.8px;
        text-align: center;
        color: #fbfbfb;
    }

    p {
        margin: 0;
        font-size: 14px;
        text-align: left;
        color: #ff5f6d;
    }

    img.logo {
        margin: 20px;
        width: 120px;
        height: 120px;


        @media #{$mobile} {
            width: 70px !important;
            height: 70px !important;
            margin-left: 40px !important;
            margin-right: 40px !important;
        }
    }

    .btn {
        font-size: 14px;
        color: white;
        width: 187px;
        height: 40px;
        border-radius: 19.5px;
        border-color: #ff5f6d;
        background-color: #ff5f6d;
        box-shadow: 0px 5px 12px 0 rgba(255, 95, 109, 0.3);
    }

    .navbar-toggler {
        border-color: rgba(0,0,0,0);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-toggler-right {
        img {
            width: 30px;
            height: 30px;
        }
    }

    .profile-desktop {
        @media #{$mobile} {
            display: none;
        }
    }
}