$mobile: "(max-width: 767.98px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$laptop: "(min-width: 1024px) and (max-width: 1439px)";
$desktop: "(min-width: 1440px)";

.profile {
    font-family: Lato;

    &__navbar {
        background: white;

        a {
            color: #535e7b !important;
        }
    }

    a:hover {
        color: inherit;
        text-decoration: none;
    }

    select {
        -webkit-appearance: none;
        background: url(/img/arr-down.png) no-repeat right;
        background-position: 90%;
    }

    &__container {
        padding-left: 60px;
        padding-right: 40px;
        margin-top: 220px;

        @media #{$mobile} {
            padding: 0 !important;
        }
    }

    &__main-title {
        font-size: 38px;
        font-weight: 900;
        line-height: 1.3;
        letter-spacing: 2px;
        color: #ff5f6d;
        margin-bottom: 20px;
    }

    &__sub-title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.6;
        color: #535e7b;
        margin-bottom: 15px;
    }

    &__label {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.8;
        letter-spacing: 1px;
        color: #838da7;
    }

    &__input {
        height: 40px;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px rgba(102, 115, 134, 0.2);
        font-size: 14px;
        line-height: 2.3;
        letter-spacing: 1px;
        text-align: left;
        color: #667386;
        padding-left: 10px;
        margin: 5px 0 10px 0;
        width: 100%;

        &::placeholder {
            opacity: 0.5;
            font-size: 14px;
            color: rgba(102, 115, 134, 0.5);
        }

        &--name {
            max-width: 480px;
        }

        &--birthday {
            max-width: 190px;
        }

        &--email {
            max-width: 360px;
        }

        &--country {
            max-width: 85px;
        }

        &--phone {
            max-width: 135px;
        }

        &--password {
            max-width: 190px;
        }

        &--company {
            max-width: 600px;
        }

        &--nif {
            max-width: 130px;
        }

        &--postal-code {
            max-width: 130px;
        }

        &--city {
            width: 100%;
            max-width: 250px;
        }

        &--payment-method {
            max-width: 300px;
        }

        &--card-number {
            max-width: 250px;
            background: url(/img/red-dot.png) no-repeat right;
            background-position: 90%;
        }
    }

    &__separator {
        width: 60%;
        margin: 20px 0;
        height: 2px;
        background-color: #d5dbe9;
    }

    &__confirm-check {
        font-size: 14px;
        font-weight: bold;
        line-height: 2;
        letter-spacing: 1px;
        color: #838da7;
    }

    &__btn {
        border-radius: 20px;
        background-color: #ff5f6d;
        border: none;
        box-shadow: 0px 5px 12px 0 rgba(255, 95, 109, 0.3);
        padding: 10px 40px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
    }

    &__menu {
        padding: 10px;
        max-width: 250px;
        padding: 30px 0 30px 30px;
        border-color: #d5dbe9;
        border-width: 0 0 0 2px;
        border-style: solid;

        @media #{$mobile} {
            display: none!important;
        }

        &__separator {
            height: 2px;
            width: 100%;
            background-color: #d5dbe9;
        }

        &__link {
            width: 100%;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #838da7 !important;

            &--selected {
                color: #ff5f6d !important;
            }
        }
    }
}

.confirm-check {
    width: 20px;
    height: 20px;
    background-color: #2ecc71;
    border-radius: 50%;  
}

.confirm-notcheck {
    width: 20px;
    height: 20px;
    background-color: #ff5f6d;
    border-radius: 50%;
}