$mobile: "(max-width: 767.98px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$laptop: "(min-width: 1024px) and (max-width: 1439px)";
$desktop: "(min-width: 1440px)";

.why_section {
    font-family: Lato;

    // Section four stylings
    &__why-catch-ride {
        font-size: 36px;
        font-weight: bold;
        color: #535e7b;

        @media #{$mobile} {
            text-align: center;
        }
    }

    &__why-card {
        &__title {
            font-size: 23px;
            font-weight: 900;
            letter-spacing: normal;
            color: #535e7b;
        }

        &__sub-title {
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 1px;
            text-align: center;
            color: #838da7;
            text-transform: uppercase;
        }

        &__separator {
            background-color: #838da7;
            height: 1px;
            width: 100px;
        }

        &__content {
            font-size: 14px;
            line-height: 1.6;
            text-align: center;
            color: #8b9398;
        }
    }
}