$mobile: "(max-width: 767.98px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$laptop: "(min-width: 1024px) and (max-width: 1439px)";
$desktop: "(min-width: 1440px)";

@import "calendar.scss";
@import "checkout.scss";
@import "contacts.scss";
@import "destinos.scss";
@import "footer.scss";
@import "help.scss";
@import "homepage.scss";
@import "invitefriends.scss";
@import "loginregister.scss";
@import "message.scss";
@import "navigation.scss";
@import "profile.scss";
@import "spinner.scss";
@import "static_pages.scss";
@import "terms_and_conditions.scss";
@import "travel.scss";
@import "utils.scss";
@import "yoyoloops.scss";